bson
mongoengine
flask==1.0.2
Flask-GraphQL==2.0.0
graphql-core==2.3.1
graphene==2.1.8
graphene-mongo==0.2.9
pymongo
requests
bcrypt
flask-cors

cmake==3.13.3
opencv-python==4.2.0.32
numpy
face-recognition
bs4
imagezmq
imutils